@font-face {
    font-family: 'Opensans';
    src: url('../fonts/opensans-regular-webfont.woff2')  format('woff2'),
      url('../fonts/opensans-regular-webfont.woff')  format('woff');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
}

@font-face {
  font-family: 'Opensans';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Opensans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@keyframes fadeIn {
  0%{opacity: 0}
  100%{opacity: 1;}
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.9);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes modal {
  0% {opacity: 0;transform: translate(-50%,-100%);}
  100%{opacity: 1;transform: translate(-50%,-50%);}
}

/* * COMMON * */

* {
  box-sizing: border-box;
}

:root {
  --firm: #9873FF;
  --firm-light: #B89EFF;
  --firm-dark: #8052FF;
  --txt_grey: #B0B0B0;
  --background-gray: #F5F5F5;
  --background-gray-light : #F4F3F6;
  --grey: #C8C5D1;
  --dark-grey: #E7E5EB;
  --black: #333333;
  --red: #F06A4D;
  --state-delay:300ms;
}

.container {
  margin:0 auto;
  padding: 0 20px;
}

ul {
  list-style-type: none;
}

body {
  position: relative;
  background-color: var(--background-gray);
  font-family: Opensans,sans-serif;
  font-weight: normal;
}

.button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  color: inherit;
  user-select: none;
}

.display-none {
  display: none !important;
}

.tippy-ballon {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 50%;
  display: none;
  width: fit-content;
  height: fit-content;
  padding: 7px 14px;
  border: none;
  background-color: var(--black);
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;  
  color: white;
  white-space: nowrap;
  transform: translateX(-50%);
  z-index: 2;
}

.tippy-arrow {
  position: absolute;
  bottom: 100%;
  left: 50%;
  display: none;
  border-top: 8px solid var(--black);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: none;
  transform: translateX(-50%) translateY(-1px);
  z-index: 1;
}

.tippy--on {
  position: relative;
}


.tippy--on > .tippy-ballon, .tippy--on > .tippy-arrow {
  display: block;
}

/* * HEADER * */
.header {
  position: relative;
  min-height: 90px;
  background: #FFFFFF;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);  
  z-index: 1;
}

.header__container {
  margin:0 auto;
  padding: 0 30px;
  min-height: inherit;
}

.header__form {
  width: 100%;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  position: relative;
  margin-right: 53px; 
  outline: none;
}

.logo__circle {
  fill: var(--firm);
  transition: fill var(--state-delay);
}

.logo__path {
  fill: white;
}

.logo::before{
  content: '';
  position: absolute;
  top: -4px;
  bottom: -2px;
  left: -4px;
  right: -4px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color var(--state-delay);
}

.logo:focus::before{
  border-color: var(--firm);
}

.logo:hover .logo__circle{
  fill: var(--firm-light);
}

.logo:active .logo__circle{
  fill: var(--firm-dark);
}

.header__search-container {
  position: relative;
  width: 60%;
}

.header__search {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--txt_grey);
  font-size: 14px;
  line-height: 19px;  
  color: var(--black);
  transition: border-color var(--state-delay);
  outline:none;
}

.header__search:focus{
  border-color: var(--firm);
}

.header__search::placeholder {
  color: var(--txt_grey);
}

.header__search-results {
  position: absolute;
  width: 100%;
  /* max-height: 180px; */
  top: 100%;
  background-color: white;
  border: 1px solid var(--grey);
}

.search-results__button {
  display: block;
  width: 100%;
  padding: 10px 0 10px 10px;
  color: var(--black);
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  transition: background-color var(--state-delay);
}

.search-results__button:hover, .search-results__button:focus {
  background-color: var(--background-gray);
}

.color-gray {
  color: var(--txt_grey);
}

.color-firm {
  color: var(--firm);
}

.header__wait-icon {
  position: absolute;
  right: 10px;
  top: 12px;
  width: 20px;
  height: 20px;
}

/* * TABLE * */

.wait-overlay{
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.wait-icon {
  animation: rotate 1500ms linear infinite;  
}

.wait-icon--firm {
  stroke: var(--firm);
}

.wait-icon--red {
  stroke: var(--red);
}

.wait-icon--firm-light {
  stroke: var(--firm-light);
}

.table__wait-icon {
  width: 100px;
  height: 100px;
}

.row__wait-icon {
  position: absolute;
  left: -1px;
  width: 16px;
  height: 16px;
}

.modal__wait-icon {
  position: absolute;
  left: 15px;
  width: 16px;
  height: 16px;
}

.main {
  background-color: var(--background-gray);
}

.main__container {
  margin:0 auto;
  padding: 0 90px 0 90px;
  text-align: center;
}

.table {
  width: 100%;
  /* margin-bottom: 40px; */
  border-spacing: 0;
  border-collapse: collapse;
  /* font-family: 'Opensans'; */
}

.table__caption{
  /* margin-bottom: 18px; */
  /* font-family: 'Opensans'; */
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;  
  text-align: left;
  color: var(--black);
}

.table__heading{
  margin: 0;
  margin-top: 40px;
  margin-bottom: 25px;
  padding: 0;
}

.white-space--no-wrap{
  white-space: nowrap;
}

.thead__th {
  padding: 20px 0 20px 10px;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  color: var(--txt_grey);
  background-color: transparent;
  text-align: left;
}

.thead__th:last-child{
  width: 207px;
  padding-right: 10px;
}

.thead__contacts{
  width: 130px;
}

.thead__button {
  text-align: left;
  transition: color var(--state-delay);
}

.thead__button:hover, .thead__button:focus{
  color: var(--black);
}

.thead__button:hover > .thead__sort > svg, .thead__button:focus > .thead__sort > svg{
  opacity: 1;
}

.thead__button:active::before {
  background-color: rgba(152, 115, 255, 0.3);
}

.thead__sort {
  display: inline-block;
  width: 12px;
  height: 12px;
  fill: var(--firm);
}

.thead__sort > svg {
  opacity: 0.7;
  transform: translateY(2px) scaleY(-1);  
  transition: opacity var(--state-delay);
}


.thead__button[data-desc=desc] .thead__sort > svg {
  transform: translateY(2px) scaleY(1); 
}

.thead__button[data-type=text] > .thead__sort{
  width: 36px;
}

.thead__button[data-type=text]{
  padding-right: 25px;
}

.thead__button[data-type=text] .thead__sort::after{
  content: 'А-Я';
  font-size: 12px;
}

.thead__button[data-desc=desc][data-type=text] .thead__sort::after{
  content: 'Я-А';
}

.thead__button--selected{
  color: var(--firm);
}

.thead__button--selected .thead__sort > svg {
  opacity: 1;
}


.table__tbody{
  background-color: white;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
}

.row {
  border-bottom: 1px solid var(--dark-grey);
}

.row--empty > .row__td {
  color: var(--txt_grey);
  text-align: center;
}

.row__td{
  height: 60px;
  padding: 5px 0 5px 10px;
  color: var(--black);
  text-align: left;
  vertical-align: middle;
}

.row__td:last-child{
  padding-right: 10px;
}

.row__id {
  font-size: 12px;
  line-height: 16px;
  color: var(--txt_grey);
}

.row__id-link {
  color: inherit;
  text-decoration: none;
  cursor: text;
}

.row__time {
  display: inline-block;
  /* padding-left: 7px; */
  color: var(--txt_grey);
}

.row__contact-list{
  /* display: flex; */
  flex-wrap: wrap;
  vertical-align: middle;
}

.row__contact {
  width: 16px;
  height: 16px;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  font-size: 8px;
  line-height: 1;
  color: transparent;
  filter: opacity(0.7);
  transition: filter var(--state-delay);
}

.row__contact:hover, .row__contact:focus {
  filter: opacity(1);
}

.row__contact--group{
  width: 16px;
  height: 16px;
  border: 1px solid var(--firm);
  border-radius: 50%;
  color: var(--black);
} 

.row__contact:not(:last-child){
  margin-right: 5px;
}

.row__contact--vk{
  background-image: url(../img/vk.svg);
}

.row__contact--fb {
  background-image: url(../img/fb.svg);
}

.row__contact--phone {
  background-image: url(../img/phone.svg);
}

.row__contact--mail {
  background-image: url(../img/mail.svg);
}

.row__contact--other {
  background-image: url(../img/other.svg);
}

.row__contact--group:not(.display-none) ~ .row__contact {
  display: none;
  opacity: 0;
}

.row__contact--group.display-none ~ .row__contact {
  display: inline-block;
  opacity: 0;
  animation: fadeIn var(--state-delay) linear;
  animation-fill-mode: forwards;
}

.row__contact--group.display-none ~ .row__contact.tippy--on{
  opacity: 1;
}

.row__contact--group.display-none ~ .row__contact:nth-child(6) {
  animation-delay: 100ms;
}

.row__contact--group.display-none ~ .row__contact:nth-child(7) {
  animation-delay: 200ms;
}

.row__contact--group.display-none ~ .row__contact:nth-child(8) {
  animation-delay: 300ms;
}

.row__contact--group.display-none ~ .row__contact:nth-child(9) {
  animation-delay: 400ms;
}

.row__contact--group.display-none ~ .row__contact:nth-child(n+10) {
  animation-delay: 500ms;
}

.row__edit-btn {
  position: relative;
  margin-right: 30px;
  padding-left: 15px;
  background-image: url(../img/edit.svg);
  background-repeat: no-repeat;
  background-position: left;
  transition: color var(--state-delay);
}

.row__edit-btn--waiting {
  background-image: none;
}

.row__edit-btn:hover, .row__edit-btn:focus {
  color: var(--firm);
}

.row__delete-btn {
  padding-left: 15px;
  background-image: url(../img/cancel.svg);
  background-repeat: no-repeat;
  background-position: left;
  transition: color var(--state-delay);
}

.row__delete-btn:hover, .row__delete-btn:focus {
  color: var(--red);
}

.main__add-btn {
  padding: 12px 26px;
  font-size: 14px;
  line-height: 19px;
}

.main__add-btn > svg {
  transform: translateY(3px);  
}

.secondary {
  border: 2px solid var(--firm);
  background-color: transparent;
  color: var(--firm);
  fill: var(--firm);
  transition: background-color var(--state-delay), color var(--state-delay), fill var(--state-delay), border-color var(--state-delay);
}

.secondary:hover, .secondary:focus {
  background-color: var(--firm-light);
  color: white;
  fill: white;
}

.secondary:active {
  background-color: var(--firm-dark);
  color: white;
  fill: white;
}

.secondary:disabled {
  border-color: var(--txt_grey);
  fill: var(--txt_grey);
  color: var(--txt_grey);
}

/* * MODAL * */

.modal-overlay {
  position: absolute;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black);
  z-index: 1;
  opacity: 0.6;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: modal 500ms ease-in-out 1;
  z-index: 2;
}

/* * FLOAT INPUT * */

.float-placeholder {
  position: relative;
  text-align: left;
}

.float-placeholder__label {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: var(--txt_grey);
  transition: transform var(--state-delay);
  transform-origin: left;
}

.float-placeholder__label-text {
  position: relative;
  display: inline-block;
}

.float-placeholder__label > .float-placeholder__star {
  display: none;
}

.float-placeholder__input[required] + .float-placeholder__label > .float-placeholder__star {
  display: inline-block;
  color: var(--firm);
}

.float-placeholder__input::placeholder {
  color: transparent;
}

.float-placeholder__input:not(:placeholder-shown) + .float-placeholder__label {
  transform: translateY(-2em) scale(0.8);
}


/* * EDIT FORM * */

.edit-form {
  width: 450px;
  /* min-height: 400px; */
  max-height: 100vh;
  max-height: calc(var(--vh, 1vh) * 100);  
  background-color: white;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
  overflow: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.modal__form{
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 29px;
  height: 29px;
  fill: var(--grey);
  transition: fill var(--state-delay);
}

.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--firm);
}

.modal__close-btn:active {
  fill: var(--firm-dark);
}

.edit-form__container {
  padding: 25px 30px;
}

.edit-form__data {
  padding-bottom: 0;
}

.edit-form__container--gray {
  background-color: var(--background-gray-light);
}

.edit-form__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;  
  text-align: left;
}

.edit-form__id {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  color: var(--grey);
}

.edit-form__input {
  width: 100%;
  margin-bottom: 30px;
  padding: 4px;
  border: none;
  border-bottom: 1px solid var(--txt_grey);
  outline: none;
  box-shadow: none;
  transition: border-color var(--state-delay);
}

.modal__input--wrong {
  border-color: var(--red);
}

.edit-form__contact.modal__input--wrong {
  border: 1px solid var(--red);
  /* border-color: var(--red); */
}

.modal__err {
  display: inline-block;
  margin-top: -17px;
  margin-bottom: 9px;
  font-size: 10px;
  line-height: 14px;
  color: var(--red);  
}

.edit-form__secname {
  margin-bottom: 0;
}

.edit-form__input.float-placeholder__input + .float-placeholder__label {
  padding: 4px;
}

.edit-form__contact-list{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.edit-form__add-contact-btn{
  transition: color var(--state-delay);
}

.edit-form__add-contact-btn > svg {
  transform: translateY(3px);
}

.edit-form__add-contact-btn .add-svg__path {
  fill: var(--firm);
  transition: fill var(--state-delay);
}

.edit-form__add-contact-btn .add-svg__path--inverted {
  fill: transparent;
  transform: translate(1px,1px);
  /* fill: var(--firm); */
}

.edit-form__add-contact-btn:hover .add-svg__path, .edit-form__add-contact-btn:focus .add-svg__path {
  fill: transparent;
}

.edit-form__add-contact-btn:hover .add-svg__path--inverted, .edit-form__add-contact-btn:focus .add-svg__path--inverted {
  fill: var(--firm);
}

.edit-form__add-contact-btn:hover, .edit-form__add-contact-btn:focus {
  color: var(--firm);
}

.edit-form__controls {
  text-align: center;
}

.modal__primary-btn {
  position: relative;
  display: block;
  margin: 0 auto 5px auto;
  padding: 12px 35px;
  background-color: var(--firm);
  color: white;
  transition: background-color var(--state-delay);
}

.modal__primary-btn:hover, .modal__primary-btn:focus {
  background-color: var(--firm-light);
}

.modal__primary-btn:active {
  background-color: var(--firm-dark);
}

.modal__secondary-btn {
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid var(--black);
  font-size: 12px;
  line-height: 16px;
  transition: color var(--state-delay), border-color var(--state-delay);
}

.modal__secondary-btn:hover, .modal__secondary-btn:focus {
  color: var(--firm);
  border-color: var(--firm);
}

.modal__secondary-btn:active {
  color: var(--firm-dark);
  border-color: var(--firm-dark);
}

/* * EDIT FORM - CONTACTS * */

.edit-form__contact-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 37px;
  margin-bottom: 25px;
}

.edit-form__choices {
  flex: 0 0 123px;
  margin: 0;
  text-align: left;
}

.edit-form__choices .choices__inner {
  min-height: 100%;
  padding: 10px 12px;
  border: 1px solid var(--grey);
  border-radius: 0;
  background-color: var(--dark-grey);
  font-size: 12px;
  line-height: 16px;  
  transition: border-color var(--state-delay);
}

.edit-form__choices > .choices__inner > .choices__list {
  padding: 0;
}

.edit-form__choices.is-open .choices__inner {
  border-radius: 0;
}

.edit-form__choices .choices__list--dropdown {
  border-radius: 0;
}

.edit-form__choices.is-open .choices__list--dropdown {
  border-radius: 0;
}

.edit-form__choices.is-open:not(.is-flipped) .choices__list--dropdown {
  border-top: 1px solid var(--firm);
}

.edit-form__choices.is-open.is-flipped .choices__list--dropdown {
  border-bottom: 1px solid var(--firm);
}


.edit-form__choices:focus .choices__inner, .edit-form__choices:hover .choices__inner {
  border-color: var(--firm);
}

.edit-form__choices .choices__list--dropdown .choices__item--selectable {
  padding: 10px 12px;
  background-color: var(--background-gray-light);
  font-size: 12px;
  line-height: 16px;  
}

.edit-form__choices .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: #EDECF0;
}

.edit-form__choices.choices[data-type*=select-one]:after{
  content: url(../img/arrow_back_ios.svg);
  top: 11px;
  right: 16px;  
  width: 12px;
  height: 12px;
  margin: 0;
  border: none;
  transform-origin: center 75%;
  transform: scaleY(1);
  transition: transform var(--state-delay);
}

.edit-form__choices.is-open.choices[data-type*=select-one]:after {
  transform: scaleY(-1);
}

.edit-form__contact {
  flex: 1 1 80%;
  padding: 9px 39px 9px 12px;
  border: 1px solid var(--grey);
  border-left: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
  outline: none;
}

.edit-form__contact::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--txt_grey);  
}

.edit-form__del-contact-btn {
  position: absolute;
  right: 0;
  width: 27px;
  height: 100%;
  display: block;
  border: 1px solid var(--grey);
  filter: opacity(1);
  fill: var(--txt_grey);  
  transition: filter var(--state-delay), fill var(--state-delay), border-color var(--state-delay);
}

.edit-form__del-contact-btn > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.edit-form__del-contact-btn:hover, .edit-form__del-contact-btn:focus {
  border-color: var(--red);
  fill: var(--red);
}

.edit-form__contact:invalid + .edit-form__del-contact-btn {
  visibility: hidden;
  filter: opacity(0);
}

.edit-form__contact-container:nth-child(n+10) + .edit-form__add-contact-btn{
  display: none;
}


/* * DELETE FORM * */

.delete-form {
  max-width: 450px;
  background-color: white;
  text-align: center;

}

.delete-form__form {
  padding: 27px;
}

.delete-form__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.delete-form__text {
  display: inline-block;
  margin: 25px;
  font-size: 14px;
  line-height: 19px;  
}

.footer__container {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

@media (max-width:1100px) {

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .row__edit-btn {
    margin-right: 30px;
  }
  
}

@media (max-width:768px) {
   /* body {
    width: max-content;
  } */

  .header {
    /* width: fit-content; */
    /* width: max-content; */
  }

  .main {
    /* width: max-content; */
    overflow: scroll;
  }

 
  .main__container {
    min-width: 728px;
  } 

  /* .header__container{
    width: 100%;
  }
 */

 .thead__th:last-child{
    width: initial;
  }
  
}

@media (max-width:750px) {

  .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .header__form {
    align-items: center;
    justify-content: center;
  }
  
  .logo {
      margin-right: 0;
  }
  
  .edit-form {
     width: 94%;
     /* max-height: 90vh; */
  }

  .edit-form__container {
    padding-left: 15px;
    padding-right: 15px;
  }
  

  .edit-form__choices {
    flex: 0 0 40%;
    margin: 0;
    text-align: left;
  }
  
  .edit-form__contact {
    width: 100%;
    flex: 1 1 60%;
  }

  .modal__close-btn {
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
  }

  .header__search-container {
    display: none;
  }

  .header__search-container--mobile {
    position: static;
    display: block;
    width: 0;
    animation: fadeIn var(--state-delay) linear 1;
  }

  .header__search-container--mobile > .header__search {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    height: 45px;
  }

  .header__search-container--mobile > .header__search + .header__search-results {
    top: calc(100% + 45px);
    left: 0;
  }
  
  .delete-form {
    width: 94%;
    background-color: white;
    text-align: center;
  
  }  
}
